html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
}

*, ::after, ::before {
    box-sizing: inherit;
}
body{
    background-image: url("../images/mainBackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
}

